body{
  width:100%;
  overflow-x: hidden;
}

.nev_area{
  position: fixed;
  height:7vh;
  width:40vw;
  bottom:2vh;
  margin:0 0 2vh 50%;
  transform: translate(-50%,0);
  border-radius: 15px;
  display: flex;
  gap:2vw;
/*  background:#666666;*/ 
  box-shadow: 0 0 40px black;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(15px);
  z-index: 100;
}

.nev_btn{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:white;
  cursor: pointer;
}


@media(max-width:991px){
  .nev_area{
    width:90vw;
  }
}


@media screen and (orientation:landscape){
  body{
    width:100%;
    overflow-x: hidden;
  }

  .nev_area{
    position: fixed;
    height:7vh;
    width:40vw;
    bottom:2vh;
    margin:0 0 2vh 50%;
    transform: translate(-50%,0);
    border-radius: 15px;
    display: flex;
    gap:2vw;
/*    background:#666666;*/ 
  box-shadow: 0 0 40px black;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(15px);
    z-index: 100;
  }

  .nev_btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    cursor: pointer;
  }


}
