*{
	scroll-behavior: smooth;
}

body{
	background: #262626;
	padding:0;
	margin:0;
	animation:animate_body 4s forwards;
}

@keyframes animate_body{
0%{
	overflow-y: hidden;
}
85%{
	overflow-y: hidden;
}
100%{
	overflow-y: scroll;
}
}

::-webkit-scrollbar{
  width:.7em;
}
::-webkit-scrollbar-track{
  background:rgba(0,0,0,.01);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background:white;
  border-radius: 10px;
}

.landing_area{
	height:100vh;
	width:100vw;
}

.gradient_area{
	position: absolute;
	top:0;
	left:0;
	height:50vh;
	width:100%;
	background:#867561;
	filter:blur(50px);
	animation:animate_gradient_area 2s forwards;
}

@keyframes animate_gradient_area{
	from{
		top:-200vh;
	}
	to{
		top:0;
	}
}

.main_content_area{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width:100%;
	float: left;
	backdrop-filter: blur(150px);
	perspective: 100em;
}


.my_image_cover{
	height:20vh;
	width:20vh;
	position: relative;
	border-radius: 100%;
	margin:10vh 0 0 50%;
	transform: translate(-50%,0) scale(1);
	overflow: hidden ;
}


.my_image{
	position: absolute;
	top: 0;
	left:0;
	height:20vh;
	width:20vh;
	border-radius: 100%;
	margin:0vh 0 0 50%;
	transform: translate(-50%,0) scale(1);
}

.my_image_lazy_loader{
	position: absolute;
	top: 0;
	left:0 ;
	height:100%;
	width:100%;
	background: #FE683D;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin:0vh 0 0 50%;
	transform: translate(-50%,0) scale(1);
	animation:animate_my_image 10s forwards;
}


@keyframes animate_my_image{	
	0%{
		transform: translate(-50%,0) scale(1);
	}
	45%{
		transform: translate(-50%,0) scale(1);
	}
	50%{
		transform: translate(-50%,0) scale(0);
	}
	100%{
		transform: translate(-50%,0) scale(0);
	}
}

.loading_circle{
	height:50%;
	width:50%;
	background: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: animate_loading_circle 2s linear infinite;
	overflow: hidden;
}

@keyframes animate_loading_circle{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.loading_circle:before{
	position: absolute;
	content:'';
	height:100%;
	width:100%;
	top:50%;
	left:50%;
	background: #FE683D;
}

.inner_circle{
	height:80%;
	width:80%;
	border-radius: 50%;
	background: #FE683D;

}

.greetings{
	height:auto;
	width:70vw;
	text-align: center;
	font-size: 40px;
	color:white;
	font-family: var(--font-montserrat);
	margin:15vh 0 0 50%;
	transform: translate(-50%,0) rotateX(0deg);
	padding:2vh 0;
	font-family: suse;
	animation:animate_text 6s forwards;
}

.name_text{
	height:auto;
	width:70vw;
	text-align: center;
	font-size: 40px;
	color:white;
	margin:2vh 0 0 50%;
	transform: translate(-50%,0) rotateX(0deg);
	padding:1vh 0;
	font-family: suse;
	animation:animate_text 6s forwards;
}

@keyframes animate_text{
	0%{
		transform: translate(-50%,0) scale(0);
	}
	45%{
		transform: translate(-50%,0) scale(0);
	}
	50%{
		transform: translate(-50%,0) scale(1);
	}
}

.description_area{
	height:auto;
	width:70vw;
	text-align: center;
	font-size: 40px;
	margin:50vh 0 0 50%;
	transform: translate(-50%,0);
	padding:5vh 0;
}

.text_in_landing_page{
	color:hsl(0, 0%, 100%, 0);
	background-image: linear-gradient(90deg,white,white);
	background-repeat: no-repeat;
	background-clip: text;
	background-size: 0% 100%;
	display: inline;
	font-family: suse;
	animation:reveal_text 5s forwards;
	animation-timeline: view();
	animation-range-start:20vh;
	animation-range-end:80vh;
}

@keyframes reveal_text{
	from{
		background-size: 0% 100%;
	}
	to{
		background-size: 100% 100%;
	}
}

.projects{
	margin-top:70vh;
	margin-left:50%;
	transform: translate(-50%,0);
}

.projects_header_text{
	color:white;
	margin-left:50%;
	transform: translate(-50%,0);
	border-bottom: 0px solid white;
	text-align: center;
	font-size: 40px;
	font-family: new amsterdam;
	animation:animate_border_of_projects_header_text 5s ease-in-out;
	animation-timeline: view();
	animation-range-start: 0vh;
	animation-range-end:99vh;
	opacity: 0;
}

@keyframes animate_border_of_projects_header_text{
	from{
		border-bottom:0;
		opacity: 0;
	}
	to{
		border-bottom: 2px solid white;
		opacity: 1;
	}
}

.project{
	position: sticky;
	top:2vh;
	margin-top:20vh;
	height:90vh;
	width:75vw;
	background: #262626;
	margin-left:50%;
	transform: translate(-50%,0);
	border-radius: 10px;
	box-shadow: 0 0 50px black;
	overflow: hidden;
	border:2px solid white;
	padding:2vh 2vh;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.p2{
	width:80vw;
}

.p3{
	width:85vw;
}

.projects_nev_area{
	flex:.5;
	display: flex;
	align-items: center;
	gap:.5vw;
}

.button{
	height:50px;
	flex:.2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle{
	height:30px;
	width:30px;
	border-radius: 100%;
	border:2px solid white;
}

.main_tab{
	height:100%;
	flex: 1;
	border:2px solid white;
	border-bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:white;

}

.tab_gap{
	flex:5;
}

.project_thumbnail{
	flex:7;
	border-radius: 10px;
}

.what_i_can_make_header_text{
	color:white;	
	margin:50vh 0 0 50%;
	padding:2vh 0;
	transform: translate(-50%,0);
	border-bottom: 0px solid white;
	text-align: center;
	font-size: 40px;
	font-family: new amsterdam;

	animation:animate_border_of_what_i_can_make_header_text 5s ease-in-out;
	animation-timeline: view();
	animation-range-start: 0vh;
	animation-range-end:99vh;
	opacity: 0;
}

@keyframes animate_border_of_what_i_can_make_header_text{
	from{
		border-bottom:0;
		opacity: 0;
	}
	to{
		border-bottom: 2px solid white;
		opacity: 1;
	}
}


.what_i_can_make{
	height:50vh;
	width:80vw;
	margin:10vh 0 50vh 50%;
	transform: translate(-50%,0);
	display: flex;
	gap:2vw;
	padding:0 2vw;
	perspective: 100em;
}

.capablity{
	flex:1;
	height:100%;
	transform: rotateY(-45deg) rotateX(45deg) scale(1);;
	color:white;
	font-family: suse;
	transition:.4s;
	filter:grayscale(100%);
	z-index: 1;
}

.c1{
	background:url(health_care_image.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	transform: rotateY(45deg) rotateX(45deg) scale(1);;
}

.c1:before{
	content:'Health care';
	position: absolute;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.c2{
	background:url(e-commerce_image.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	filter: grayscale(0);
	z-index: 2;
}

.c2:before{
	content:'E-commerce';
	position: absolute;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.c3{
	background:url(portfolio.jpeg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.c3:before{
	content:'Portfolio';
	position: absolute;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;

}

.capablity:hover{
	transform: rotateY(0) rotateX(0) scale(1.2);
	z-index: 2;
	filter:grayscale(0%);
}

.c2{
	transform: rotateY(0) rotateX(0) scale(1);
}


.footer{
  height:40vh ;
  width:90vw;
  padding:2vh 5vw;
  margin:10vh 0 0 0;
  box-shadow: 0 0 100px black;
  animation:animate_footer ;
  opacity: 0;
  animation-timeline: view();
  animation-range-end: 90vh;
  display: flex;
/*  align-items: center;*/
  gap:1vw;
}

@keyframes animate_footer{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.open_to_work_area{
	height:60%;
	flex:5;
	padding:2vh;
	color:white;
	background: black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap:1vh;
}

.open_to_work_text{
	width:100%;
	font-family: new amsterdam;
	font-size: 40px;	
}


.open_to_work_description{
	font-size: 20px;
	color:grey;
}

.socials{
	height:70%;
	flex:1;
	display: flex;
	align-items: center;
	justify-content: center;
	color:white;
}

.social_icons{
	font-size: 40px;
	color:white;
	text-decoration: none;
}


















@media(max-width:991px){
	body{
		margin:0;
		padding:0;
	}


	::-webkit-scrollbar{
	  width:0;
	}
	::-webkit-scrollbar-track{
	  background:rgba(0,0,0,0);
	  border-radius: 0px;
	}
	::-webkit-scrollbar-thumb{
	  background:black;
	  border-radius: 0px;
	}

	.main_content_area{
		backdrop-filter: blur(100px);
	}

	.greetings{
		font-size: 20px;
	}

	.name_text{
		font-size: 20px;
	}

	.description_area{
		font-size: 15px;
	}

	.text{
		color:hsl(0, 0%, 100%, 0.2);
		animation-range-end:70vh;
	}

	.projects_header_text{
		width:70vw;
	}

	.project{
		height:40vh;
	}

	.projects_nev_area{
		flex:1;
		gap:4vw;
	}	

	.button{
		height:10px;
	}

	.circle{
		height:10px;
		width:10px;
	}

	.main_tab{
		flex:2;
		font-size: 8px;
		padding:0 1vw;
	}

	.tab_gap{
		flex:5;
	}

	.project_thumbnail{
		border-radius: 0;
	}

	.what_i_can_make_header_text{
		font-size: 20px;
	}

	.what_i_can_make{
		height:10vh;
		width:90vw;
		margin: 10vh 0 50vh 50% ;
		transform: translate(-50%,0);
	}

	.capablity{
		font-size: 8px;
	}

	.open_to_work_text{
		font-size: 20px;
	}

	.open_to_work_description{
		font-size: 12px;
	}


	.social_icons{
		font-size:20px;
	}

}